
@{
    ViewData["Title"] = "AddSprintRequest";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model AgileManagement.Application.dtos.sprint.ProjectWithSprintResponseDto
    
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h1>AddSprintRequest</h1>

<div class="container">
    <div class="row border">
        <div class="border col-md-3">@Model.Project[0].Name</div>

        <div class="border col-md-9">
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add Sprint to Project
            </button>
            <a asp-area="Admin" asp-controller="Project" asp-action="AddContributorRequest">Remove Sprint to Project</a>
            <div id="accordion">
                @foreach (var sprint in Model.Project[0].Sprints)
                {
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#@sprint.SprintName" aria-expanded="true" aria-controls="collapseOne">
                                @*<input type="checkbox" class="form-check-input" id="exampleCheck1">*@@sprint.SprintName
                            </button>
                        </h5>
                    </div>

                    <div id="@sprint.SprintName" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            @sprint.StartDate.ToString("dd-MM-yyyy") / @sprint.FinishDate.ToString("dd-MM-yyyy")
                        </div>
                    </div>
                </div>
                    
                }
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">Sprint Details</p>
                            <input type="date" class="form-control" id="startdate">
                            <input type="date" class="form-control" id="finishdate">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="AddSprint('@Model.Project[0].ProjectId')" type="button" class="btn btn-primary">Save changes</button>
                            
                        </div>
                    </div>
                </div>
            </div>           
        </div>

    </div>
</div>

@section Scripts{ 

    <script>


        function AddSprintWindow(){

            $('#sprintadded').toggle();

        }

        function AddSprint(projectId) {

            const startDate = $('#startdate').val();
            const finishDate = $('#finishdate').val();



            let sprint = {
                startDate,
                finishDate,
                projectId
            };
            $.ajax({
                method: 'Post',
                url: '/Admin/Project/AddSprintRequest',
                contentType: 'application/json',
                data: JSON.stringify(sprint), // data body den gönder demek
                success: (response) => {
                    if (response.isSuccess) {

                        AddSprintSuccess(response.a)
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: (error) => {

                    alert(error);
                }
            })

        }
        function AddSprintSuccess(sprint) {
            console.log(typeof (sprint.finishDate))
            console.log(sprint)

            $('#accordion').append(`<div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#${sprint.sprintName}" aria-expanded="true" aria-controls="collapseOne">
                                ${sprint.sprintName}
                            </button>
                        </h5>
                    </div>

                    <div id="${sprint.sprintName}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p> ${ sprint.startDate.slice(0, 10).split("-").reverse().join("-")} / ${sprint.finishDate.slice(0, 10).split("-").reverse().join("-")}</p>
                        </div>
                    </div>
                </div>`);
        }
        


    </script>

}